header{
  background-color: #b4c49c;
  height: 90px ;
}


.name{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: #567334;
}
.bigLogo{
  font-size: 50px;
}
.bigImg{
  width:50px;
  height:50px;
}
.smallImg{
  width: 35px;
  height: 35px;
}

.smallLogo{
  font-size: 35px;
}

.user{
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 1.8vw;

  color: #465d2c;
}


a{
  text-decoration: none;
}
a:link {color:#465d2c;}
a:hover {text-decoration: #374821 wavy underline;}
a:visited {color: #374821;}



