header{
  display: flex;
  background-color: #b4c49c;
  height: 90px ;
}

.logo{
  width: 20%;
  height: 20%;
}

.name{
  font-size: 4vw;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  color: #567334;
}

.user{
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 1.8vw;

  color: #465d2c;
}

.user img{

  width: 2vw;
  height: 2vw;
}

a{
  text-decoration: none;
}
a:link {color:#465d2c;}
a:hover {text-decoration: #374821 wavy underline;}
a:visited {color: #374821;}



