footer {
  display: flex;
  height: 2.5rem;
  background-color: #626243;
  color: #b5c4a8;
  font-family: 'Helvetica Neue', sans-serif;
  padding:10px;
}

.copyright{

}

.menu{
  font-size: 15px;

}

.active{
  background-color: #b4c49c;
  color: #374821;
}

