nav {
  display:flex;
  width: 100%;
  background-color: #4A642D;
  color: #b5c4a8;
  font-family: 'Helvetica Neue', sans-serif;
}

li {
  font-size: 15px;
  list-style-type: none;
  letter-spacing: 1px;
}
li:hover{
  background-color: #b4c49c;
  color: #374821;
  font-weight: bold;
}
.active{
  background-color: #b4c49c;
  color: #374821;
}
p{
  font-size: 2vw;
}
a:link {color:#374821;}
a:visited {color: #374821;}


